
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Section one styling*/
.sec1{
    background-image: url(./bg-hero-desktop.svg);
    background-color:  hsl(193, 100%, 96%);
    height: 600px;
   
display: flex;
flex-direction: column;

}
#a,#b{
    display: flex;
}

#a{
    margin: 60px 20px 4px 20px;
}



#a1{
    margin: 2px 200px 120px 30px;
   
    padding: 0 auto;
}

#a2{
    position: absolute;
    left: 1300px;
    
}
.free{
    padding: 10px;
    width: 200%;
    border-radius: 15px ;
    background-color: white;
    border: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;

}

h6{
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
}
#b1{
    
    margin: 2px 50px 25px 150px;
    
    padding: 0px 5px 0px 50px;
    width: 40%;
    
    justify-content: space-between;
    
    
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.get{
    padding: 10px;
    width: 50%;
    border-radius: 15px ;
    background-color: hsl(322, 100%, 66%) ;
    
    border: none;
}
.b2{
   

    margin: -100px 300px 5px 0px;
    width: 60%;

}
#i{
    width: 100%;

    height: max-content;
   
    
}
/*Section 2 styling*/
.sec2,.sec3,.sec4{
    display: flex;
    width: 75%;
    background-color: #F6F7F2;
    margin:80px auto;
    align-items: center;
   height: 400px;
   border-radius: 15px;
   
   
}
#t{



margin: 2px 50px 25px 150px;


    
}
#q{
 
    margin: 50px 50px 5px 0px;
    width: 90%;
}
#q1{
    width: 100%;
    height: max-content;
}

/*section3 styling

}*/
#f{
    width: 100%;
}
#s{
    
    width: 50%;
    margin: 2px 50px 25px 150px;
    
}
/*SEC4*/
#x{
    margin: 10px 2px 3px 75px;

}
#y1{
    width: 100%;
}
#y{
    
    margin: 50px 50px 5px 0px;
    width: 70%;
}

/*Section 5*/

.sec5{
    width: 40%;
    background-color:  #F6F7F2;
    margin: 70px auto;
    height: 220px;
    
    text-align: center;
    padding: 0px;
    position: relative;
    bottom: -130px;
    border-radius: 15px;
    
    
    
}
.j{
    padding: 20px;
    text-align: center;
    margin: 40px auto;
    width: 70%;
    border-radius: 15px;
    background-color: hsl(322, 100%, 66%);
    border: none;
    
}
.end{
    background-color: #000000;

  display: flex;
  font-family: 'Open Sans', sans-serif;
  height: 700px;
  color: #F6F7F2;

  
    
}
.w{
    background-color: white;
}
.end1{
   
    width: 70%;
    margin: 100px 40px 30px 80px;
    text-align: left;
    padding: 50px 60px 20px 50px;
    

}
.end2,.end3{
   
    width: 30%;
    margin: 100px 30px 40px 30px;
    text-align: left;
    padding: 200px 10px 20px 100px;
}
.end3{
    padding: 200px 10px 20px 50px;
    width: 80%;
}
.end2{
    width: 65% ;
}
.last{
    margin: 300px auto;
    
   
}
.d{
    width: 20%;
    background-color: #F6F7F2;
    
}
footer{
   
    width: 180%;
    margin: 650px auto;
}
.copy{
    width: 5%;
    background-color: white;
}
.g{
    width: 10%;
    background-color: white;
}
@media screen and (max-width:375px){

    .sec1,.sec2,.sec3,.sec4{
        width: 300%;
        height: 800px;
        font-size: xx-large;
    }
    .sec5{
        width: 250%;
    }

    
}